@use '../mixin' as *;
// PC
@for $i from 0 through 200 {
  .u-m--#{$i} {
    @include pc {
      margin: $i * 0.1rem !important;
    }
  }
  .u-mt--#{$i} {
    @include pc {
      margin-top: $i * 0.1rem !important;
    }
  }
  .u-mr--#{$i} {
    @include pc {
      margin-right: $i * 0.1rem !important;
    }
  }
  .u-mb--#{$i} {
    @include pc {
      margin-bottom: $i * 0.1rem !important;
    }
  }
  .u-ml--#{$i} {
    @include pc {
      margin-left: $i * 0.1rem !important;
    }
  }
  .u-mx--#{$i} {
    @include pc {
      margin-left: $i * 0.1rem !important;
      margin-right: $i * 0.1rem !important;
    }
  }
  .u-my--#{$i} {
    @include pc {
      margin-top: $i * 0.1rem !important;
      margin-bottom: $i * 0.1rem !important;
    }
  }
  .u-p--#{$i} {
    @include pc {
      padding: $i * 0.1rem !important;
    }
  }
  .u-pt--#{$i} {
    @include pc {
      padding-top: $i * 0.1rem !important;
    }
  }
  .u-pr--#{$i} {
    @include pc {
      padding-right: $i * 0.1rem !important;
    }
  }
  .u-pb--#{$i} {
    @include pc {
      padding-bottom: $i * 0.1rem !important;
    }
  }
  .u-pl--#{$i} {
    @include pc {
      padding-left: $i * 0.1rem !important;
    }
  }
  .u-px--#{$i} {
    @include pc {
      padding-left: $i * 0.1rem !important;
      padding-right: $i * 0.1rem !important;
    }
  }
  .u-py--#{$i} {
    @include pc {
      padding-top: $i * 0.1rem !important;
      padding-bottom: $i * 0.1rem !important;
    }
  }
}

// SP
@for $i from 0 through 150 {
  .u-mSp--#{$i} {
    @include sp {
      margin: $i * 0.1rem !important;
    }
  }
  .u-mtSp--#{$i} {
    @include sp {
      margin-top: $i * 0.1rem !important;
    }
  }
  .u-mrSp--#{$i} {
    @include sp {
      margin-right: $i * 0.1rem !important;
    }
  }
  .u-mbSp--#{$i} {
    @include sp {
      margin-bottom: $i * 0.1rem !important;
    }
  }
  .u-mlSp--#{$i} {
    @include sp {
      margin-left: $i * 0.1rem !important;
    }
  }
  .u-mxSp--#{$i} {
    @include sp {
      margin-left: $i * 0.1rem !important;
      margin-right: $i * 0.1rem !important;
    }
  }
  .u-mySp--#{$i} {
    @include sp {
      margin-top: $i * 0.1rem !important;
      margin-bottom: $i * 0.1rem !important;
    }
  }
  .u-pSp--#{$i} {
    @include sp {
      padding: $i * 0.1rem !important;
    }
  }
  .u-ptSp--#{$i} {
    @include sp {
      padding-top: $i * 0.1rem !important;
    }
  }
  .u-prSp--#{$i} {
    @include sp {
      padding-right: $i * 0.1rem !important;
    }
  }
  .u-pbSp--#{$i} {
    @include sp {
      padding-bottom: $i * 0.1rem !important;
    }
  }
  .u-plSp--#{$i} {
    @include sp {
      padding-left: $i * 0.1rem !important;
    }
  }
  .u-pxSp--#{$i} {
    @include sp {
      padding-left: $i * 0.1rem !important;
      padding-right: $i * 0.1rem !important;
    }
  }
  .u-pySp--#{$i} {
    @include sp {
      padding-top: $i * 0.1rem !important;
      padding-bottom: $i * 0.1rem !important;
    }
  }
}
.u-mx-auto {
  @include pc {
    margin-left: auto;
    margin-right: auto;
  }
}
